<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Tasks</title>
</head>

<body>
	<div>
		<h1>Welcome, <%- name %>!</h1>

		<%- tbltask %>

		<br>
		<div>
			<form action="/add" method="post" id="add">
				<input id="addTasks" value="Add Task" type="submit">
				<input type="text" name="task" id="tsk">
				<br><br>
				<input type="button" onclick="clearAll()" value="Clear Tasks" id="clearTasks">
			</form>
		</div>
        <hr>
	
		<button id="getActivity">Get Activity</button>
		<p id="activity"></p>
	</div>


	<script>

		const clearAll = () => {
			document.getElementById('tsk').value = "Delete All";
			document.getElementById('add').submit();
		}

		// getting activity from bored api
		const getActivity = document.getElementById('getActivity');
		const activityp = document.getElementById('activity');

		// on click 
		getActivity.addEventListener('click', () => {
		
			// get the activity
		fetch('https://www.boredapi.com/api/activity')
			.then(response => response.json())
			.then(data => {
				// put into html
				activityp.textContent = `Activity: ${data.activity}`;
			})
			.catch(error => {
				// on fail
			console.log('Error fetching data:', error);
				activityp.textContent = 'Failed to fetch activity. Please try again.';
			});
		});

		// Adds task
		const addTask = () => {
			
		}

	</script>

</body>

</html>
